<div class="about-wrapper">
    <div class="about-container">
        <div>
            <img src="../../assets/images/beautiful-red-barn-next-to-a-brown-fence-and-green-trees-farm-background-wallpaper-pictures-1536x1152.jpg">
        </div>
        <div>
            <h1 class="about-homestead">My Homestead</h1>
            <p>So why did I decide to homestead?</p>
            <p>I wanted to know where my food was coming from, as well as what they were eating. I belive that the animals should be treated right, raised out on pasture and given a great life.</p>
            <p>This small family operation strives to provide the best quality meat year after year. Our cows and chickens are spend their lives on the pasture. They receive no antibotics, and no GMO's. </p>
        </div>
        <div class="about-advantages">
            <h1>Advantages</h1>
            <h3>Grass-fed over Grain-Fed beef</h3>
            <p> Extra Omega-3s</p>
            <p>Higher in Vitamin-C, Beta-Carotene, and Vitamin E</p>
            <p>Lower in fat and calories</p>
            <p>Rich source of CLA(conjugated linoleic acid)</p>
            
            <h3>Pastured Raised Poultry</h3>
            <p>Contains 50% more vitamin A, over conventionally raised chicken.</p>
            <p>Significantly less fat overall, around 30% less saturated fat.</p>
            <p>More polyunsaturated fat, which is heart healthy.</p>
            <p>Lower ratio of omega-6's which are considered more inflammatory.</p>
            <p>Significantly higher levels of omega 3's.</p>
            <p>Higher levels of protein and collagen.</p>

            <h3>Why should you choose us?</h3>
            <p>We don't use one long assembly line to slaughter our birds like most large poultry houses. </p>
            <p>Our birds once processed rest inbetween 12-18 hours. This results in a flavorful and tender piece of meat.</p>

            <p>We offer superior quality products, with superior service. We look forward to being able to prove that to you with every puchase.</p>
        </div>
        <h2>Testimonials</h2>
        <app-customer-reviews></app-customer-reviews>
    </div>
    <!-- info found on foodanimalconcernstrust.org -->
</div>
