.navbar-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    font-size: 12px;
    padding: 0px;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}
.navbar-container {
    height: 30px;
    position: -webkit-sticky; /* Safari */

}

li {
    padding: 10px 5px;
}


li:focus{
    outline: none;
    background-color: rgb(179,175,172);
}

li:hover {
    background-color: rgb(179,175,172);
}