.navbar-container {
    height: 30px;
    width: 100vw;
    background-color: #ffffff;
}

.navbar-items {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    font-size: 12px;
    padding: 0px;
}

li {
    padding: 9px 5px;
}


li:focus{
    outline: none;
    background-color: rgb(179,175,172);
}

li:hover {
    background-color: rgb(179,175,172);
}