<div class="customer-reviews-wrapper">
    <div class="customer-reviews-container">



        <div class="box">The pork was delicious. Nothing like you will get at a grocery store. You can really taste the
            difference. I will be buying here again next year.</div>
        <div class="reviewer">
            <p>Billy, Denver, NC</p>
        </div>

        <div class="box">This was my first time purchasing chicken from a farm. The taste is unbelieable. Worth the
            money.</div>
        <div class="reviewer">
            <p>Janice, Gastonia, NC</p>
        </div>

    </div>