<div class="contact-wrapper">
    <div class="contact-container">
        <div>
            <h3>My Homestead</h3>  
            <img src="../../assets/images/beautiful-red-barn-next-to-a-brown-fence-and-green-trees-farm-background-wallpaper-pictures-1536x1152.jpg">
            <p>If you'd like more information, fill out the form below. We look forward to hearing from you.</p>
            <input type="text" placeholder="Your Name" name="name"/>
            <input type="text" placeholder="Your Email" name="email"/>
            <input type="text" placeholder="Your Phone Number" name="phone"/>
            <textarea placeholder="Your message" cols="40" rows="10" name="message"></textarea><br>
            <button type="button">Submit</button>
        </div>
                
    </div>
</div>
