<div class="for-sale-wrapper">
    <div class="for-sale-container">
        <div class="items-for-sale">
            <img src="../../assets/icons/cow_icon.png">
            <h3>Grass Feed Cattle</h3>
            <p>Our cows are rasied on pasture. You'll be able to taste the diffrence in our grass fed beef.</p>
            <button type="button">click here</button>   
        </div>
        <div class="items-for-sale">
            <img src="../../assets/icons/chicken_icon.png">
            <h3>Pasture raised chickens</h3>
            <p>Our chickens are free to roam on pasture. They are only fed non-gmo feed.</p>
            <button type="button">click here</button>
        </div>
        <div class="items-for-sale">
            <img src="../../assets/icons/meat_icon.png">
            <h3>By the cut</h3>
            <p>We also sell our beef by the cut. Chickens are sold whole, or by the cut.</p>
            <button type="button">click here</button>
        </div>
       
    </div>
</div>
