.farm-to-table {
    position: relative;
    display: flex;
    text-align: center;
    align-items: center;
    width: 100vw;
    height: 20vh;
    background-color: rgb(129, 102, 33);
    color: #ffffff;
    font-size: 30px;
 }