<div>
    <h2>TIPS & TERMINOLOGY</h2>
<p><span>Airline Breast</span> - Boneless, skin-on breast with the first wing joint attached.  May be sold split or whole.</p>

<p><span>All Natural</span> – The USDA defines All Natural as “a product containing no artificial ingredient or added color and is only minimally processed.”  We define All Natural as a chicken that is minimally processed, only eats what it would naturally, is hormone and steriod free, and has no additives or preservatives.  The chickens are slaughtered in accordance with the USDA guidelines.</p>

<p><span>Butterfly</span> – A whole boneless chicken breast.  Also referred to as double-lobed.

<p><span>Free Range</span> – In order for poultry to be certified Free Range by the USDA the chicken must have access to the outdoors.  In most cases that means the chicken is provided a cage with a small portion of it residing outside.  This term has erroneously been confused with yarding, which means keeping poultry in fenced yards.  Some would argue that cage confinement is more humane and less stressful than either, as chickens are naturally cannibalistic and usually choose to stay indoors (near their food and water) when given the option.  The notion that free range chicken has spent its life roaming care free in a field is a myth, and the term has become more of a marketing tool than any indication of how the bird was raised.</p>

<p><span>Fresh</span> –  Defined by the Federal Safety and Inspection Service (FSIS) as any product kept at or above 26 degrees F.</p>

<p><span>Minimally Processed</span> – The raw product is not altered, in general this term refers to any non-marinated chicken that has been cleaned and is ready to eat.</p>

<p><span>Organic</span> – The USDA has strict standards for poultry to be labeled Organic.  Those standards include suitable living conditions, non medicated (although may be vaccinated), fed only organic ingredients, and have suitable access to the outdoors.</p>

<p><span>Regular</span> – A whole chicken roaster sold with the giblet (neck, heart, liver, and gizzard).</p>

<p><span>Split</span> – One half of a boneless chicken breast.  Also called a half or single-lobe.</p>

<p><span>WOG</span> – A whole chicken roaster sold without the giblet (neck, heart, liver, and gizzard).</p>
</div>
