/* You can add global styles to this file, and also import other style files */
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

button {
    padding: 10px;
    background-color: rgb(163, 159, 159);
    color: #ffffff;
}