<div class="calender-wrapper">
<div class="calender-container">
    <div>
     <table cellspacing="0">
         <thead>
             <tr class="direction"><th><a href="#">&#8249;</a></th><th class="year" colspan="5">{{displayedMonth}}</th><th><a href="#">&#8250;</a></th></tr>
             <tr><th class="daysOfTheWeek">S</th><th class="daysOfTheWeek">M</th><th class="daysOfTheWeek">T</th><th class="daysOfTheWeek">W</th><th class="daysOfTheWeek">T</th><th class="daysOfTheWeek">F</th><th class="daysOfTheWeek">S</th></tr>
         </thead>
         <tbody>
           <tr><td *ngFor="let day of daysDisplayedOnTheCalendar; let i = index">{{day}}</td></tr>
         </tbody>
     </table>
    </div>
</div>
</div>
{{firstDayOfThePreviousMonth}}
{{firstOfTheCurrentMonth}}
{{firstOfNextMonth}}