.calendar-wrapper {
    display: flex;
    justify-content: center;
}
.calender-container {

    border: 3px solid black;
    width: 33vw;
}

a {
    text-decoration: none;
    color: #000000;
}

.direction {
    background-color: gray;
}

.year {
    font-size: 20px;
    background-color: gray;
}

.daysOfTheWeek {
    font-size: 15px;
    padding: 3.7px;
}

.calendar-days {
    padding: 15px;
    background-color: #669999;
    border: 3px solid #c2c2c2;
    text-align: center;
}

th {
    padding-left: 9px;
}

tr {
    display: flex;
    flex-wrap: wrap;
    width: 32vw;

}
td {
    border: 1px solid black;
    padding: 3px 4px;
    width: 4.49vw;
    font-size: 10px;
}